@mixin easeOut {
  transition: all 0.3s ease-out;
}
@mixin bounceOut {
  transition: all 0.8s cubic-bezier(0.49, 0.19, 0.37, 1.56);
}
h2 {
  margin: 20px 0px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
//INPUT TEXT BOX
.btn {
  position: absolute;
  z-index: 1;
  margin-top: -50px;
  right: 5%;
  width: 40px;
  height: 45px;
  padding: 15px 10px 0px 10px;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  color: #f1f1f1;
  background: #d34410;
  cursor: pointer;
  transform: rotate(225deg);

  opacity: 0.8;
  @include easeOut();
  &:before {
    content: "\002716";
  }
  &:hover {
    /* transform: scale(1.2); */
    color: #333;
    background: #f1f1f1;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.8);
  }
}

/* Textinput */
.textInput {
  position: absolute;
  margin-top: -50px;
  right: 5%;
  width: 0px;
  height: 40px;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  outline: none;
  background: #333;
  font-size: 20px;
  color: #f1f1f1;
  opacity: 0;
  @include bounceOut();
}
#toggle {
  display: none;
  &:checked ~ .textInput {
    width: calc(90% - 200px);
    opacity: 0.5;
  }
  &:checked + .btn {
    transform: rotate(0deg);
    background: rgba(0, 0, 0, 0);

    opacity: 1;
  }
  &:checked + .btn:hover {
    color: #cc3333;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  &:checked label:before {
    transform: rotate(45deg);
    content: "\002716";
  }
}

//TASK LIST
.task-container {
  .task-card {
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 80vw;
    padding: 20px;
    @include bounceOut();
    &:hover {
      transform: scale(1.02);
      @include easeOut();
    }

    //Position Container(LABEL)
    .task {
      display: block;
      position: relative;

      cursor: pointer;
      font-size: 22px;
      user-select: none;
      &:hover {
        #task-item ~ .checkmark {
          border: 4px solid #d34410;
        }
      }

      //Hide default checkbox
      #task-item {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
          background: #d34410;
          border: 4px solid lighten(#d34410, 20);
          &:after {
            display: block;
          }
        }
      }
      //Create Custom Checkbox
      .checkmark {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 20px;
        width: 20px;
        background: #f1f1f1;
        border: 4px solid lighten(#333333, 50);

        border-radius: 100%;

        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }
    }
  }
}
