.custom-nav {
  color: #ffffff;
  padding: 22px 10px 0px 10px;
  text-align: right;
}

.custom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
  overflow: hidden;
}

.custom-nav li {
  display: inline;
  padding: 10px;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.custom-nav li a {
  color: inherit;
  font: 1.2em sans-serif;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.custom-nav li.active {
  color: #d34410;
}

.custom-nav li.active:hover {
  border: 1px solid #ffffff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.custom-nav li:hover {
  border: 1px solid #d34410;
  color: #d34410;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.custom-nav .icon {
  display: none;
  background: #4d4d4d;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 99;
}

.custom-nav .hamburger {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 4px;
  background: white;
  position: absolute;
  top: 50%;
  right: 47%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.custom-nav .hamburger:before,
.custom-nav .hamburger:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
  width: 40px;
  height: 4px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.custom-nav .hamburger:before {
  top: -12px;
}

.custom-nav .hamburger:after {
  top: 12px;
}

.custom-nav .icon.show .hamburger {
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.custom-nav .icon.show .hamburger:before {
  top: 0;
  right: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotateZ(45deg) scalex(1);
          transform: rotateZ(45deg) scalex(1);
}

.custom-nav .icon.show .hamburger:after {
  top: 0;
  right: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotateZ(-45deg) scalex(1);
          transform: rotateZ(-45deg) scalex(1);
}

@media screen and (max-width: 600px) {
  .custom-nav {
    background: #4d4d4d;
    margin-top: 48px;
  }
  .custom-nav nav {
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.8s cubic-bezier(0.49, 0.19, 0.37, 1.56);
    transition: all 0.8s cubic-bezier(0.49, 0.19, 0.37, 1.56);
  }
  .custom-nav ul {
    padding: 15px 0px;
  }
  .custom-nav ul li {
    display: block;
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .custom-nav .icon {
    display: block;
  }
}
/*# sourceMappingURL=CustomNav.css.map */